/*解决方案banner图*/
.solution_banner{
	height: 4.1rem;
	background-repeat: no-repeat;
	background-position:0px 0px;
    background-size: 100%;
	background-image:url(../images/solution_banner.png);
	color: white;
	text-align: center;
}
.solution_banner h2{
	width: 3.1rem;
	height: 0.48rem;
	margin: 0.94rem auto 0;
}
.solution_banner p{
	width: 6.7rem;
	line-height: 0.28rem;
	font-size: 0.18rem;
	margin: 0 auto;
}
.solution_banner_btn{
	position: absolute;
	top: 2.53rem;
	left: 50%;
	transform: translate(-50%,0);
	-webkit-transform: translate(-50%,0);
	-moz-transform: translate(-50%,0);
	width: 1.1rem;
	height: 0.4rem;
	text-align: center;
	line-height: 0.4rem;
	background-color: #3294ea;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
}
/*解决方案中间内容区*/
.solution_container{
	width: 11.70rem;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
}
.solution_container_right{
	display: none;
}
.togContainerWater{
	display: block;
}
.solution_container_left{
	float: left;
	width: 1.98rem;
	height: 2.4rem;
}
.solution_container_left ul{
	width: 100%;
	height: 100%;
}
.solution_container_left ul li{
	position: relative;
	width: 100%;
	height: 0.5rem;
	padding-left: 0.2rem;
	box-sizing: border-box;
	border: 1px solid #efefef;
	border-top: none;
	border-right: none;
	line-height: 0.5rem;
	text-align: left;
	font-size: 14px;
	color: #333;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: 1.76rem center;
	background-image: url(../images/solution_nav_rightArrow.png);
}
.solution_container_left ul li.active{
	background-color: #f3f3f3;
	border-left:0.04rem solid #3294ea;
	padding-left: 0.16rem;
	background-position: 1.72rem center;
	background-image: url(../images/solution_nav_rightArrowActive.png);
}
.solution_container_left ul li:hover a{
	color: #3294ea;
}
.solution_container_right{
	float: left;
	width:9.72rem;
	border: 1px solid #efefef;
	box-sizing: border-box;
	padding: 0.32rem 0.55rem 0 0.35rem;
}
.togContainerHw{
	height: 22.22rem;
}
.togContainerWater{
	height: 27.6rem;
}
.solution_Rinbox{
	width: 100%;
	height: 100%;
}
.solution_title{
	width: 100%;
    height: 0.1rem;
    font-size: 0.2rem;
    color: #000;
    clear: both;
    border-bottom: 1px solid #ddd;
}
.solution_title span{
	float: left;
    display: inline-block;
    padding: 0 0.2rem 0 0;
    background: #fff;
    height: 0.2rem;
    line-height: 0.2rem;
}
.solution_title em{
	float: right;
	display: inline-block;
	width: 7.13rem;
	height: 1px;
	margin-top: 0.17rem;
	background: #ddd;
}
.solution_chWtarget{
	width: 8.73rem;
	height: 4.26rem;
	background: url(../images/solution_chWtarget_pic.png) no-repeat center center;
	background-size: 100% 100%;
}
.solution_Rinbox p{
	line-height: 0.26rem;
	color: #000;
	font-size: 0.14rem;
	word-wrap: break-word;
}
.solution_Rinbox p.solution_pWid1{
	width: 4.6rem;
}
.solution_cText_pic{
	float: right;
	width: 4.06rem;
	height: 3.6rem;
	background: url(../images/solution_chwText_pic.png) no-repeat center center;
	background-size: 100% 100%;
}
.mb10{
	margin-bottom: 10px;
}
.mb14{
	margin-bottom: 14px;
}
.mb18{
	margin-bottom: 18px;
}
.mb24{
	margin-bottom: 24px;
}
.solution_chWfunction{
	width: 8.73rem;
	height: 5.43rem;
	background: url(../images/solution_chWfunction_pic.png) no-repeat center center;
	background-size: 100% 100%;
}
.solution_title em.short{
	width: 6.43rem;
}
.solution_title em.short2{
	width: 6.23rem;
}
.solution_chWvalue{
	width: 8.75rem;
	height: 4.36rem;
	background: url(../images/solution_chWvalue_pic.png) no-repeat center center;
	background-size: 100% 100%;
}
/*水务页面*/
.solution_Rinbox .solution_water_p{
	width: 8.7rem;
	height: 0.8rem;
	font-size: 0.16rem;
	margin-top: 0.1rem;
	margin-bottom: 0.48rem;
}
.togContainerWater .solution_title{
	margin-bottom: 0.34rem;
}
.mb68{
	margin-bottom: 0.68rem;
}
.solution_water_dlist{
	width: 100%;
	height: 4.32rem;
	border: 1px solid #eeeeee;
	box-sizing: border-box;
}
.solution_water_dlist>div{
	width: 25%;
	height: 100%;
	padding: 0.34rem 0.2rem 0 0.15rem;
	box-sizing: border-box;
}
.solution_water_dlicon{
	width: 0.52rem;
	height: 0.48rem;
	margin: 0 auto;
	background-repeat: no-repeat;
	background-position: center top;
}
.solution_water_dlicongv{
	background-image: url(../images/solution_goverment_icon.png);
	background-size: 0.52rem 0.48rem;
}
.solution_water_dliconmg{
	background-image: url(../images/solution_manager_icon.png);
	background-size: 0.4rem 0.47rem;
}
.solution_water_dliconsale{
	background-image: url(../images/solution_salesman_icon.png);
	background-size: 0.38rem 0.46rem;
}
.solution_water_dliconpb{
	background-image: url(../images/solution_publicMan_icon.png);
	background-size: 0.48rem 0.48rem;
}
.solution_water_dline{
	width: 1.5rem;
	height: 0.01rem;
	background-color: #eeeeee;
	margin:0.3rem auto 0.24rem;
}
.solution_water_dlist h4{
	text-align: center;
	margin-bottom: 0.18rem;
}
.solution_cWt_prob{
	width: 8.83rem;
	height: 6.17rem;
	background: url(../images/solution_cWt_probays.png) no-repeat center center;
	background-size: 100% 100%;
	margin-bottom: 0.48rem;
}
.solution_cWt_target{
	width: 7.39rem;
	height: 5.06rem;
	background: url(../images/solution_cWt_target.png) no-repeat center center;
	background-size: 100% 100%;
	margin:0.68rem auto 1.1rem;
}
.solution_cWt_funcModule{
	width: 8.86rem;
	height: 3.66rem;
	background:url(../images/solution_cWt_fucModule.png) no-repeat center center;
	background-size: 100% 100%;
	margin: 0 auto;
}
